:root {
	--primary-text-color: #212121;
	--logo-color-text: #000000;
	--secondery-text-color: #757575;
	--white-text-color: #ffffff;
	--accent-color: #2196f3;
	--button-color-accent: #188ce8;
	--button-color: #ffffff;
	--contact-color: rgba(255, 255, 255, 0.6);
	--hero-color-bg: #2f303a;
	--page-bg-color: #ffffff;
	--team-bg-color: #f5f4fa;
}

body {
	background-color: var(--page-bg-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

/* #212121 - цвет основного цета (balck)*/
/* #757575 - вторичный цвет текста */
/* #2196F3 - цвет акцента наведения + logo */
/* #188CE8 - цвет кнопки при ховере */
/* #FFFFFF - цвет белый текста */
/* #2f303a - Герой цвет заливки */

.logo {
	color: var(--logo-color-text);
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}
.logo-first {
	color: var(--accent-color);
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}

.logo:hover,
.logo:focus {
	color: var(--accent-color);
}
.logo-first:hover,
.logo-first:focus {
	color: var(--primary-text-color);
}
/* стили навигации */

.site-nav .link {
	color: var(--primary-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.auth-nav .link {
	color: var(--secondery-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.site-nav .link:hover,
.auth-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:focus {
	color: var(--accent-color);
}

.pages .curent {
	color: var(--accent-color);
}
/* Главная область */

/* Hero */

.hero {
	background-color: var(--hero-color-bg);
}
.hero-title {
	color: var(--white-text-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}
/* Section */

.section-title {
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.feature-item .title {
	color: var(--primary-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.feature-item .text {
	color: var(--secondery-text-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.team {
	background-color: var(--team-bg-color);
}

.team-list .title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.team-list .text {
	color: var(--secondery-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.team-item {
	background-color: var(--page-bg-color);
}

.button {
	color: var(--button-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.button:hover,
.button:focus {
	background-color: var(--button-color-accent);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: 4px;
}
/* footer */

footer {
	background-color: #2f303a;
}

.footer .logo {
	color: var(--white-text-color);
}

.footer .logo:hover,
.footer .logo:focus {
	color: var(--accent-color);
}

.footer .logo-first:hover,
.footer .logo-first:focus {
	color: var(--white-text-color);
}

.address .address-name {
	color: var(--white-text-color);
	font-style: normal;
}

.address .address-name:hover,
.address .address-name:focus {
	color: var(--accent-color);
}

.contacts-list .item {
	color: var(--contact-color);
	font-style: normal;
}

.contacts-list .item:hover,
.contacts-list .item:focus {
	color: var(--accent-color);
}
